---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero';
import Footer from '../components/Footer';
import FeatureCard from '../components/FeatureCard';
import Header from '../components/Header';
import SupportStep from '../components/SupportStep';
import PricingSection from '../components/PricingSection';
import InspirationCarousel from '../components/InspirationCarousel';
import SubmissionForm from '../components/SubmissionForm';

import scissors from '../images/scissors.svg';
import timer from '../images/timer.svg';
import trend from '../images/trend.svg';

---
<Layout title="Nuroverse" description="Where intelligence meets compassion">
	<main class='flex flex-col'>
		<Header client:load />
		<Hero client:load />
		<div class="py-24 z-10">
			<div class="flex flex-col justify-stretch my-container m-auto">
				<h2 class="section-title">Not Your Average Chatbot</h2>
				<h4 class="section-subtitle">(Our Secret Sauce)</h4>
				<p class="text-xl md:mx-3">Nuroverse Intelligence is built upon a foundation in wellness, including capabilities beyond the leading chatbot services that are especially helpful to your wellness clients.</p>
				<ul class="md:mx-3 mt-5">
					<li class="my-5 sm:my-7"><span class="font-bold text-trusty-300 pr-2">Perceptive To Emotions:</span>Trained with 1,000+ verbal cues and 10+ clinically proven therapy techniques</li>
					<li class="my-5 sm:my-7"><span class="font-bold text-trusty-300 pr-2">Advanced Memory & Learning:</span>Collects insights from each conversation to deliver more personalized and relevant responses for the client</li>
					<li class="my-5 sm:my-7"><span class="font-bold text-trusty-300 pr-2">Integrated With Your Core Services:</span>Maximize the impact of AI with integrations that complement and enhance your core services</li>
				</ul>
				<p class="text-xl md:mx-3 mt-5">These specialized features make our Intelligence ideal for a range of applications, like:</p>
				<InspirationCarousel client:load />
				<div class="mt-14 md:mx-3">
					<a href='https://trynuron.com/' target='_blank' class='text-lg uppercase font-bold text-trusty-300'>
						<span class="underline underline-offset-4">{"See how we're using Nuroverse Intelligence"}</span><span>{' ›'}</span>
					</a>
				</div>
				<h2 class="section-title mt-24">Your Success, Our Support</h2>
				<h4 class="section-subtitle">(How To Get Started)</h4>
				<div>
					<SupportStep subject='You' predicate="schedule an introductory call to discuss your business needs and integrations you'd like to add for your virtual support coach." />
					<SupportStep subject='We' predicate="assess your needs to provide setup fee estimates for each proposed integration. This lets you start with the most beneficial ones, validate ROI, and make further enhancements as needed." />
					<SupportStep subject='We' predicate="collaborate with your IT team and finalize cost, schedule and commitments. Integrations typically take a few weeks, but may take longer depending on complexity. Our existing architecture helps lower costs and speed up time-to-market compared to traditional IT service providers." />
					<SupportStep subject='You' predicate="receive your virtual support coach, fully integrated into your existing solutions and ready to go live." />
					<SupportStep subject='We' predicate="provide ongoing support and maintenance throughout your subscription. All improvements to our infrastructure and core integrations are automatically applied to your coach." />
				</div>
				<PricingSection client:load />
				<h2 class="section-title mt-24">Operate Smart, Not Hard</h2>
				<h4 class="section-subtitle">(Why Choose Us)</h4>
				<div class="grid grid-cols-1 lg:grid-cols-3">
					<FeatureCard
						client:visible
						icon={timer}
						alt="Timer icon"
						desc="Reduce time-to-market for AI solutions"
						detail="Our end-to-end infrastructure enables your functional prototype to be ready in a few weeks."
					/>
					<FeatureCard
						client:visible
						icon={scissors}
						alt="Scissors icon"
						desc="Minimize upfront setup costs"
						detail="We leverage our flexible infrastructure to develop Gen AI workflows at rates far lower than the industry average."
					/>
					<FeatureCard
						client:visible
						icon={trend}
						alt="Chart with upward trend line icon"
						desc="Validate ROI before scaling"
						detail="Our feature-scoped and Pay-As-You-Go pricing allows you to start small, validate and scale up as you see fit."
					/>
				</div>
				<h2 class="section-title pb-7 mt-24">Intrigued?</h2>
				<p class="text-xl md:mx-3">In today's rapidly evolving business landscape, staying ahead means embracing the technologies that will shape tomorrow. The window for gaining a strategic advantage through AI is closing fast. As more businesses, large and small, integrate AI into their core operations, adoption of AI is not just an opportunity- it's a necessity.</p>
				<p class="text-xl md:mx-3 mt-5">Whether you're looking to integrate your support coach into an existing product or launch it as a standalone solution, we're here to guide you at every stage of the process.</p>
				<div class="mt-10 md:mx-3">
					<a href="https://calendly.com/d/cn5q-4tr-cj6/nuroverse-introductory-call" target="_blank" class="btn-secondary hover:cursor-pointer">Schedule A Call</a>
				</div>
				<h2 class="section-title pb-7 mt-24">Not Sure Yet?</h2>
				<p class="text-xl md:mx-3">Reach out to us and we'll gladly clarify any details to help you determine if our services are a good fit for your business.</p>
				<SubmissionForm client:load />
			</div>
		</div>
		<Footer />
	</main>
</Layout>

<style>
	main {
		@apply m-auto;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
