---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero';
import Footer from '../components/Footer';
import StatCard from '../components/StatCard';
import FeatureCard from '../components/FeatureCard';
import Header from '../components/Header';

import scissors from '../images/scissors.svg';
import timer from '../images/timer.svg';
import trend from '../images/trend.svg';
import wand from '../images/wand.svg';
---
<Layout title="nuroverse">
	<main class='flex flex-col'>
		<Header client:load />
		<Hero client:load />
		<div class="bg-text-black py-24 z-10">
			<div class="flex flex-col justify-stretch my-container m-auto">
				<p class="text-5xl py-8 font-display text-teal-500 uppercase md:mx-3">Why Now?</p>
				<p class="text-xl md:mx-3">In today's rapidly evolving business landscape, staying ahead means embracing the technologies that will shape tomorrow. The window for gaining a strategic advantage through AI is closing fast. As more businesses, large and small, integrate AI into their core operations, early adoption of AI is not just an opportunity - it's a necessity.</p>
				<p class="text-xl md:mx-3 mt-5">Those who act now can gain a competitive edge, streamline operations, and unlock new growth opportunities. Waiting could mean missing out on significant cost savings, revenue growth, market positioning, and risking obsolescence as competitors leverage AI to innovate and scale faster.</p>
				<p class="text-xl md:mx-3 mt-5">The window of opportunity to be a leader in AI-driven innovation is now.</p>
				<p class="text-2xl pt-10 pb-14 md:mx-3">But don't just take our word for it.</p>
				<div class="grid grid-cols-1 md:grid-cols-2">
					<StatCard
						client:visible
						value={94}
						desc="business executives who believe AI is a key to success in the future"
						source="Deloitte"
						url="https://www2.deloitte.com/us/en/pages/consulting/articles/state-of-ai-2022.html"
					/>
					<StatCard
						client:visible
						value={92}
						desc="Fortune 500 companies that use AI"
						source="Reuters"
						url="https://www.reuters.com/technology/artificial-intelligence/openai-says-chatgpts-weekly-users-have-grown-200-million-2024-08-29/"
					/>
					<StatCard
						client:visible
						value={16}
						desc="avg. revenue increase reported after adopting Gen AI"
						source="Gartner"
						url="https://www.gartner.com/en/newsroom/press-releases/2024-07-29-gartner-predicts-30-percent-of-generative-ai-projects-will-be-abandoned-after-proof-of-concept-by-end-of-2025"
					/>
					<StatCard
						client:visible
						value={15}
						desc="avg. cost savings reported after adopting Gen AI"
						source="Gartner"
						url="https://www.gartner.com/en/newsroom/press-releases/2024-07-29-gartner-predicts-30-percent-of-generative-ai-projects-will-be-abandoned-after-proof-of-concept-by-end-of-2025"
					/>
					<!-- <StatCard
						client:visible
						value={23}
						desc="avg. productivity boost reported after adopting AI"
						source="Gartner"
						url="https://www.gartner.com/en/newsroom/press-releases/2024-07-29-gartner-predicts-30-percent-of-generative-ai-projects-will-be-abandoned-after-proof-of-concept-by-end-of-2025"
					/> -->
				</div>
				<p class="text-5xl py-8 mt-20 font-display text-teal-500 uppercase md:mx-3">Why Us?</p>
				<p class="text-xl md:mx-3">Choosing the right partner for your AI journey is critical to your success.</p>
				<p class="text-xl md:mx-3 mt-5">We understand that small businesses and startups have unique challenges when it comes to adopting AI. That’s why we’ve crafted our services specifically to meet those needs.</p>
				<p class="text-xl md:mx-3 mt-5">We go beyond just providing AI solutions - we partner with you to understand your business inside and out, delivering customized strategies that solve real problems and drive growth. Our streamlined development process ensures that your AI initiatives are up and running quickly, helping you reduce costs and accelerate time-to-market.</p>
				<p class="text-xl md:mx-3 mt-5">This unique combination of personalized service, speed, and value is what we pride ourselves on at Nuroverse.</p>
				<div class="grid grid-cols-1 md:grid-cols-2 mt-14">
					<FeatureCard
						client:visible
						icon={wand}
						alt="Wand and stars icon"
						desc="Tailor solutions to your business needs"
						detail="Whether you need to integrate AI into an existing product or build one from scratch, we can help you leverage AI to solve your unique business challenges."
					/>
					<FeatureCard
						client:visible
						icon={timer}
						alt="Timer icon"
						desc="Reduce time-to-market for AI solutions"
						detail="Our end-to-end infrastructure enables your functional prototype to be ready in a few weeks."
					/>
					<FeatureCard
						client:visible
						icon={scissors}
						alt="Scissors icon"
						desc="Minimize upfront setup costs"
						detail="We leverage our flexible infrastructure to develop Gen AI workflows at rates far lower than the industry average."
					/>
					<FeatureCard
						client:visible
						icon={trend}
						alt="Chart with upward trend line icon"
						desc="Validate ROI before scaling"
						detail="Our feature-scoped and Pay-As-You-Go pricing allows you to start small, validate and scale up as you see fit."
					/>
				</div>
				<p class="text-5xl py-8 mt-20 font-display text-teal-500 uppercase md:mx-3">Intrigued?</p>
				<p class="text-xl md:mx-3">We are committed to making AI accessible and valuable for smaller businesses like yours, empowering you to harness the power of AI without the complexity and high costs typically associated with it.</p>
				<p class="text-xl md:mx-3 mt-5">Innovate faster and more affordably with Nuroverse</p>
				<p class="text-xl md:mx-3 mt-5">Let's discuss AI solutions that are not only tailored to your unique business needs but also designed to deliver results quickly.</p>
				<div class="flex flex-col md:flex-row items-baseline">
					<div class="mt-10 md:mx-3">
						<a href="https://calendly.com/d/cn5q-4tr-cj6/nuroverse-introductory-call" target="_blank" class="btn-secondary hover:cursor-pointer">Schedule A Call</a>
					</div>
					<div class="flex flex-row mt-4">
						<span class="text-xl pt-1 pr-2">or reach out on</span>
						<a href="mailto:hello@nuroverse.co" target="_blank" class="text-xl text-teal-500 underline underline-offset-4 pt-1 mr-2">Email</a>
						<a href="https://www.linkedin.com/company/nuroverse" target="_blank" class="text-xl text-teal-500 underline underline-offset-4 pt-1 mr-2">LinkedIn</a>
					</div>
				</div>
			</div>
		</div>
		<Footer />
	</main>
</Layout>

<style>
	main {
		@apply m-auto;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
